.button{
    $size: 50px;
    font-size: 1em;
    border:1px solid black;
    width:$size;
    height:$size;
    border-radius: 50%;
    opacity:0.5;
    min-width: $size;
    min-height: $size;
    -webkit-tap-highlight-color: transparent;
    // background-color: white;
    margin: 5px;

    .icon-wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wall-icon{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: grey;
        width: $size * 0.7;
    }


    &.available{
        opacity:1;
    }

    &:active, &.active{
        border-width: 2px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.8);
    }

    @media(pointer: fine){
        &:hover {
            border-width: 2px;
            font-weight: bold;
        }
    }

    // span{
    //     transform: translate(-50%, -50%);
    //     border: 1px solid red;
    // }

}