@import "../../styles/variables";

.main{
    display: flex;
    // flex-shrink: 1;
    // width: 300px;
    background-color: $non-dazzling-white;
    border: 1px solid rgb(233, 188, 188);
    height: inherit;
    overflow-y: scroll;
    flex-direction: column;

    .back-button{
        text-align: left;
        font-weight: bold;
        padding-left: 10px;
        font-size: 1.5em;
        border: 1px solid $button-border-color-grey;
        opacity: 0.5;

        &.active:hover{
            background-color: $button-background-color-grey;
        }

        &.active{
            opacity: 1;
        }
    }  
    
    .linears-wrapper{
        width: 100%;
        border: 1px solid gray;
        .linears-header{
            text-align: center;
            background-color: rgb(240, 173, 78);
            padding: 10px;
        }
        .linears-body{
        }
    }
}

// .main{
//     position: absolute;
//     display: flex;
//     left:50%;
//     transform: translate(-50%, -200%);
//     overflow-x: scroll;
//     max-width: 500px;
//     padding: 10px;
//     background-color: rgba(255, 255, 255, 0.5);
//     .wall-buttons-wrapper{
//         position: relative;
//         .wall-stroke-input{
//             position: absolute;
//             left:50%;
//             top:-10px;
//             transform: translate(-50%);
//             width: 100%;
//         }
//     }
//     // position: absolute;
//     // .remove{
//     //     position: relative;
//     //     font-size: 1.6em;
//     //     // border: 1px solid red;

//     //     hr{
//     //         position: absolute;
//     //         z-index: -1;
//     //         border: 1px solid black;
//     //         top:50%;
//     //         width: 100%;
//     //         transform: translateY(50%);

//     //     }
//     // }
// }