@import "../../styles/variables";

.button{
    text-align: center;
    border: 1px solid $button-border-color-grey;
    border-top: none;
    width: 100%;
    padding: 10px;
    &:hover{
        background-color: $button-background-color-grey;
    }
}